@mixin swipe_button {
    .swipe_box {
        width: 32px;
        height: 57px;
        background-color: rgba(245, 197, 6, 0.7);
        position: relative;
    }
    .swipe_left {
        position: absolute;
        top: 50%;
        left: 0;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 25px;
        }
    }
    .swipe_right {
        position: absolute;
        top: 50%;
        right: 0;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 25px;
        }
    }
}

@mixin video_player_overlay {
    width: 549px;
    height: 327px;
    overflow: hidden;
    position: relative;
    .big_play_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 67px;
        height: 67px;
        background-color: rgba(245, 197, 6, 0.72);
        border-radius: 100%;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #f5f4f2;
            font-size: 30px;
        }
    }
    .small_okay_button {
        position: absolute;
        top: 90%;
        left: 5%;
        transform: translate(-5%, -90%);
        background-color: rgb(245, 197, 6);
        opacity: 0.36;
        width: 27px;
        height: 27px;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
            color: #f5f4f2;
        }
    }
    .progress_bar {
        position: absolute;
        width: 404px;
        height: 12px;
        background-color: rgba(245, 197, 6, 0.27);
        top: 90%;
        left: 50%;
        transform: translate(-50%, -90%);
        border-radius: 20px;
        overflow: hidden;
        .inner_progress_bar {
            width: 179px;
            height: 12px;
            background-color: #f5c506;
        }
    }
    .speaker {
        position: absolute;
        top: 90%;
        right: 5%;
        transform: translate(-5%, -90%);
        i {
            font-size: 15px;
            color: #f5c506;
        }
    }
}

.banner {
    background-image: url(../Homework-9/imgs/banner.png);
    background-size: cover;
    position: relative;
    .swipe {
        @include swipe_button()
    }
    .banner_inner {
        padding: 30px 0 71px 0;
        width: 85%;
        margin: 0 auto;
        .header {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 45px;
            .logo {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                .logo_one {
                    position: relative;
                }
                .logo_two {
                    position: absolute;
                    transform: rotate(45deg);
                    opacity: 0.5;
                }
                h1 {
                    font-family: 'Lucida Sans';
                    font-size: 41.1px;
                    line-height: 1.2;
                    font-weight: 400;
                    font-style: italic;
                    text-transform: uppercase;
                    letter-spacing: 0.01em;
                    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.41);
                    color: #ffffff;
                }
                h2 {
                    opacity: 0.76;
                    font-family: 'Lao UI';
                    font-size: 13.1px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.01em;
                    color: #ffffff;
                }
            }
            .nav_list:hover {
                box-shadow: -5px -5px rgba(245, 197, 6, 0.27), -10px -10px rgba(245, 197, 6, 0.27);
            }
            .nav_list {
                transition: box-shadow 0.6s;
                ul {
                    display: flex;
                    list-style: none;
                    li {
                        border: 1px rgba(0, 0, 0, 0.1) solid;
                        padding: 10px 0;
                        background-color: #f5c506;
                        a {
                            text-decoration: none;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 17.1px;
                            line-height: 1.2;
                            font-weight: 400;
                            text-transform: uppercase;
                            letter-spacing: 0.01em;
                            color: #9b7d08;
                            margin: 0 10px 0 30px;
                            i {
                                padding: 0 5px 0 0;
                            }
                        }
                    }
                }
            }
        }
        .contents {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            .video_player {
                @include video_player_overlay()
            }
            .text_area {
                h1 {
                    font-family: Asap;
                    font-size: 63.1px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.01em;
                    color: #f5c506;
                    text-align: center;
                    span {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@media (max-width:640px) {
    .banner {
        background-image: url(/sal-brunoyam/Homework-9/imgs/mobile/logo-background.png), linear-gradient(0.0deg, rgba(0, 0, 0, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
        .swipe {
            display: none;
        }
        .banner_inner {
            padding: 0;
            width: 100%;
            margin: 0;
            .header {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                .logo {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    padding: 11px 18px;
                    .logo_one {
                        width: 40px;
                        height: 39px;
                        margin-right: 5px;
                    }
                    .logo_two {
                        width: 40px;
                        height: 39px;
                        margin-right: 5px;
                    }
                    h1 {
                        font-size: 19.3px;
                    }
                    h2 {
                        display: none;
                    }
                }
                .nav_list {
                    height: 62px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    opacity: 0.5;
                    ul {
                        display: flex;
                        justify-content: center;
                        list-style: none;
                        height: 100%;
                        width: 100%;
                        li {
                            border: 1px rgba(0, 0, 0, 0.1) solid;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-grow: 1;
                            a {
                                font-size: 19.1px;
                                margin: 0;
                                i {
                                    font-size: 24px;
                                    padding-right: 11px;
                                }
                            }
                        }
                    }
                }
            }
            .contents {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;
                .text_area {
                    h1 {
                        display: none;
                    }
                }
                .video_player {
                    width: 100%;
                }
            }
        }
    }
}