*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
}

.header{
    background-color: #87509c;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    height: 80px;
    align-items: center;
}

.nav ul{
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.nav li{
    margin: 0 4px;
}

.nav a{
font-size: 16px;
line-height: 18px;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
text-decoration: none;
padding: 10px 17px;
border-radius: 6px;
transition:  0.3s background-color;
}

.nav a:hover{
    background-color: #643a79;
}

.section1{
    display: flex;
    flex-flow: column wrap;
    background-color: #87509c;
    padding-left: 270px;
    padding-right: 270px;
    justify-content: center;
}

.section1 h1{
    font-size: 42.2px;
    line-height: 48px;
    font-weight: 700;
    color: #f7f3ea;
    text-align: center;
}
.section1 a{
    border-radius: 6px; 
    background-color: #eb7d4b;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-bottom: 145px;
    width: 293px;
    height: 70px;
}

.section2{
    background-color: #17c2a4;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.section2heading h2{
    font-size: 40px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin-top: 119px 418px;
    text-align: center;
}

.littledash{
    width: 87;
    height: 4px;
    opacity: 0.14;
    background-color:black;
    margin: 21px auto 18px auto;
}

.section2heading p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}