.whiteMoon {
    position: absolute;
    top: 5%;
    right: 100px;
    width: 100%;
    max-width: 300px;
    mix-blend-mode: screen;
}

[data-aos="MoonUp"] {
    opacity: 0;
    transform: translateY(900px);
    transition: transform, opacity;
    &.aos-animate {
        opacity: 1;
        transform: translateY(0) rotate(520deg);
    }
}