@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.scrollElement {
    position: relative;
    height: 6000px;
    width: 100%;
    top: 0;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #2b1055, transparent);
        z-index: 100;
    }
    svg {
        display: block;
        width: 100%;
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        #stars {
            transform: translateY(-300px);
            opacity: 1;
            animation: fall 10s linear infinite;
            // display: none;
        }
        #stars2 {
            transform: translateY(-360px);
            opacity: 1;
            animation: fall 10s linear infinite;
            animation-delay: 5s;
            // display: none;
        }
        @keyframes fall {
            100% {
                opacity: 0;
                transform: translateY(300px);
            }
        }
        .text-welcome {
            transform: translateX(-21px);
            .mouse {
                animation: scrollAnimation 4s infinite;
                @keyframes scrollAnimation {
                    50% {
                        transform: translateY(20px);
                    }
                }
            }
            .weel {
                opacity: 1;
                animation: weelieAnimation 2s infinite;
                @keyframes weelieAnimation {
                    50% {
                        opacity: 0;
                        transform: translateY(10px);
                    }
                }
            }
            .text {
                transform: translate(319.4px, 220.39px);
                font-family: "Poppins", sans-serif;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 24px;
                letter-spacing: 0.2px;
                fill: #ffffff;
                padding-bottom: 50px;
                .span {
                    transform: translate(258.9px, 0px);
                    fill: #4fd3c4;
                }
            }
        }
        .text-prgrammer {
            // display: none;
            transform: translate(303px, 220.39px);
            .text {
                font-family: "VT323", monospace;
                text-transform: uppercase;
                font-size: 30px;
                line-height: 1.2;
                font-weight: 400;
                fill: #ffffff;
                text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
                .span {
                    fill: #4fd3c4;
                }
            }
        }
        .text-design {
            // display: none;
            transform: translate(319.4px, 220.39px);
            .textDes {
                font-family: "Fjalla One", sans-serif;
                text-transform: uppercase;
                transform: skew(-10deg);
                font-size: 22px;
                line-height: 47px;
                letter-spacing: 1px;
                text-shadow: #533e85 1px 1px, #533e85 2px 2px, #533e85 3px 3px, #533e85 4px 4px, #533e85 5px 5px, #533e85 6px 6px;
                .spanAlso {
                    fill: #4fd3c4;
                }
                .spanA {
                    fill: #f1c83c;
                }
                .spanDesigner {
                    fill: #e55643;
                }
            }
        }
        .foreinAvatar {
            overflow: visible;
            transform: translate(352px, 92px) scale(0.4);
            .avatar-card {
                .avatar {
                    width: 150px;
                    height: 150px;
                    box-sizing: border-box;
                    border: 5px white solid;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                    transform: translate(40px, 0px);
                    animation: float 6s ease-in-out infinite;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    @keyframes float {
                        50% {
                            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                            transform: translate(40px, -20px);
                        }
                    }
                }
                .box1-2 {
                    width: 400px;
                    height: 200px;
                    position: absolute;
                    top: -16%;
                    left: -82%;
                    // animation: lineAvatar 2s ease-in-out forwards;
                    // animation-delay: 1s;
                    // opacity: 0;
                    .imgBox1 {
                        width: 400px;
                        height: 100px;
                        border-bottom: 1px white dashed;
                        border-right: 1px white dashed;
                        border-top: 2px #4fd3c4 solid;
                    }
                    .imgBox2 {
                        width: 400px;
                        height: 100px;
                        border-left: 1px white dashed;
                        border-bottom: 2px #4fd3c4 solid;
                    }
                }
            }
        }
        #rocket {
            transform: translateX(-50px);
        }
    }
}