* {
    font-family: Roboto;
}

h1,
h2 {
    font-style: italic;
    color: blue;
    text-align: center;
}

img {
    border: solid 4px red;
}

.navbackground {
    background-color: pink;
}

p {
    line-height: 30px;
    text-indent: 16px;
}

.startletter {
    color: blue;
    font-weight: bold;
    font-size: 30px;
}

.italico {
    font-style: italic;
}

.pinkcolo {
    background-color: pink;
}

.graycolo {
    background-color: rgb(182, 182, 182);
}