* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 149, 50);
    height: 60vh;
    h1 {
      font-family: "Times New Roman", Times, serif;
      text-align: center;
      padding-bottom: 40px;
    }
    button {
      background-color: rgb(38, 194, 255);
      outline: none;
      border: none;
      padding: 10px 40px;
      text-transform: uppercase;
      border-radius: 8px;
      color: white;
    }
  }
  .section_one {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .box {
      width: 300px;
      height: 150px;
      background-color: white;
      border: 2px rgb(194, 194, 194) solid;
      margin: 20px;
    }
  }
  .section_two {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 2px rgb(194, 194, 194) solid;
    .image {
      width: 200px;
      height: 90px;
      background-color: rgb(248, 59, 255);
      margin: 5px;
      border: 6px rgb(194, 194, 194) solid;
    }
  }
  .footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: gray;
    .footer_box {
      width: 150px;
      height: 150px;
      background-color: white;
      border: 2px rgb(194, 194, 194) solid;
      margin: 20px;
    }
  }
}

@media (max-width: 599px) {
  .container {
    .section_one {
      flex-wrap: nowrap;
      .box:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    .section_two {
      display: none;
    }
  }
}
