@import url("https://fonts.googleapis.com/css2?family=Martel&family=Montserrat&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* colors used */


/* 

11--- #947cff  //
1---- #533E85
2---- #488FB1
22--- #627dc1  //
3---- #4FD3C4
4---- #C1F8CF 

*/